:root {
  --clr-orange: #E99629;
  --clr-light-grey: #DCDCDC;
  --clr-grey: #dcdcdc;
  --clr-dark-grey: rgb(63, 63, 63);
  --clr-black: black;
  --clr-white: white;
}

body {
  background: var(--clr-dark-grey);
}

/* #region p5 landing page */

header b {
  font-weight: 800;
}

.p5-landing-page {
  height: fit-content;
  padding: 5rem 5rem 1rem 5rem;
  width: 100vw;
  margin: 0;
  background: linear-gradient(0deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 100%);
}

.p5-landing-page .container {
  max-width: 1500px;
  margin: auto;
}

.p5-landing-page-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5.5rem 0 8.5rem 0;
  margin: auto;
}

.p5-landing-page-content h1 {
  font-size: 3.5rem;
  line-height: 5rem;
  margin: 0;
  letter-spacing: 3px;
}

.p5-landing-page-content h1 b {
  font-weight: 800;
  color: var(--clr-orange);
  text-shadow: 4px 4px 0px var(--clr-grey);
}

.p5-landing-page-content h4 {
  font-size: 1rem;
  margin: 0;
  letter-spacing: 2px;
  color: gray;
  text-transform: uppercase;
}

.p5-landing-page-content .image {
  display: flex;
  justify-content: center;
}

.p5-landing-page-content img {
  width: 20rem;
}

/* #endregion */

/* #region p5 section dark */

.p5-dark {
  background: var(--clr-dark-grey);
  /* margin-top: 6rem; */
}

.p5-dark .container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 6rem 5rem;

  display: flex;
  align-items: center;

  color: white;
}

.p5-dark ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.p5-dark ul li a {
  text-decoration: none;
  color: var(--clr-white);
}

.p5-dark .text {
  padding-right: 5rem;
}

.p5-dark .image img {
  width: 24rem;
}

.p5-dark .text h3 {
  font-size: 2rem;
  margin: 0;
}

.p5-dark .text h5 {
  font-size: 1.25rem;
  margin: 0;
}

.p5-dark .text .bottom {
  margin-bottom: 2.5rem;
}

.p5-dark .text i {
  margin-right: 1rem;
}

.p5-dark .text li {
  margin: .5rem 0;
}

/* #endregion */

/* #region last cta */

/* #endregion */

/* #region media queries */

@media (min-width: 1500px) {
  .p5-landing-page-content {
    padding: 6rem 0 10rem 0;
  }
}

@media (max-width: 1000px) {
  .p5-landing-page-content img {
    width: 16rem;
  }

  .p5-dark .image img {
    width: 20rem;
  }

  .p5-dark .text {
    padding-right: 3rem;
  }
}

@media (max-width: 840px) {
  .p5-landing-page-content {
    flex-direction: column;
    padding: 4.5rem 0;
    text-align: center;
  }

  .p5-landing-page-content img {
    margin-top: 3rem;
  }

  .p5-dark .container {
    flex-direction: column;
    text-align: center;
  }

  .p5-dark .text {
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  .p5-dark .container {
    padding: 4rem 2rem;
  }

  .p5-landing-page {
    padding: 5rem 3rem 1rem 3rem;
  }
}

@media (max-width: 400px) {
  .p5-dark .image img {
    width: 16rem;
  }
}

/* #endregion */